@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: 'Inter', sans-serif;
}

/* Main-Container */
.main-container {
  display: flex;
  flex-direction: row;
  height: 100vh;
}

/* Sidebar */
.sidebar {
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 300px;
  padding: 5px 15px;
  transition: all 0.4s ease;
  background: #ffffff;
}

.logospace {
  font-size: 24px;
  font-weight: 800;
  color: #000000;
  padding: 5px;
  text-align: center;
}

.nav-items {
  height: -70%;
}

.nav-item {
  display: flex;
  flex-direction: row;
  margin: 18px 0px;
  padding: 14px 10px;
  transition: ease-in-out 0.2s;
  text-decoration: none;
  color: #000000;
  border-radius: 8px;
}

.nav-item:hover {
  cursor: pointer;
}

.active {
  color: #ffffff;
  background: #5c2751;
}

.nav-item-name {
  margin-left: 20px;
}

.profile-section {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
  padding: 5px 60px 50px;
}

.profile-picture {
  width: 100px;
  height: 100px;
}

.profile-picture img {
  width: 100px;
  height: 100px;
  border-radius: 100px;
  object-fit: cover;
}

.user-fname {
  font-size: 20px;
  font-weight: 600;
  color: #000000;
  margin-bottom: -19px;
}

.user-uname,
.user-email {
  font-size: 16px;
  color: #000000;
  margin-bottom: -19px;
  margin-top: -4px;
}

/* Rightbar */
.rightbar {
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #f9f8f8;
  width: 300px;
}

.form-space {
  height: 65%;
  padding: 10px 20px 20px;
  border-bottom: 1px #DDDDDD solid;
  background-color: #f9f8f8;
}

.progress-space {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  height: 35%;
  padding: 20px;
  background-color: #f9f8f8;
}

/* Content */
.content {
  left: 300px;
  width: calc(100% - 600px);
}

/* Page Headers */
.header {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px;
  border-bottom: 1px #000000 solid;
}

.page-title {
  font-size: 24px;
  font-weight: 600;
  color: #3a3a3a;
}

/* Task Card */
.task-card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 10px;
  padding: 16px;
  border-radius: 8px;
  background-color: #232323;
}

.task-details {
  display: flex;
  flex-direction: column;
  color: #000000;
  margin-left: 20px;
}

.task-options {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.task-option {
  cursor: pointer;
}

.task-title {
  font-size: 18px;
  font-weight: 600;
}

.task-due,
.task-rem {
  font-size: 16px;
  color: rgb(0, 0, 0);
}

/* SplashScreen */
.splash-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(255, 255, 255);
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader-container {
  display: inline-block;
  position: relative;
  width: 70px;
  height: 70px;
}

.loader-circle {
  position: absolute;
  content: '';
  border: 3px solid transparent;
  border-top-color: #db347f;
  border-radius: 50%;
  animation: spin 2s linear infinite;
}

.loader-circle:nth-child(1) {
  top: 10px;
  left: 0;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: 5px solid transparent;
  border-top-color: #7156ea;
  animation: spin 1.5s linear infinite;
}

.loader-circle:nth-child(2) {
  top: 10px;
  left: 0;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: 5px solid transparent;
  border-top-color: #36ece6;
  animation: spin 2s linear infinite;
}

.loader-circle:nth-child(3) {
  top: 10px;
  right: 0;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: 5px solid transparent;
  border-top-color: #db347f;
  animation: spin 1.1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.splash-text {
  font-size: 55px;
  color: #333;
  display: flex;
  align-items: center;
}

.splash-text span {
  margin: 0 5px;
}
